/*## FLOATING CHAT ##*/

#chatBtn {
	position: fixed;
	z-index: 100;
	bottom: 20px;
	right: 20px;

	.button {
		width: 60px;
		padding: 0 1.125em;
		border-color: $secondary-color;
		box-shadow: $box-shadow-main;
		background-color: $secondary-color;
		color: $white;
		@include prefix(transition,0.3s);
		// white-space: nowrap;
		overflow: hidden;

		.hidden-text {
			position: relative;
			left: 100%;
			@include prefix(transition,0.4s);
		}

		&:hover {
			width: 130px;

			.hidden-text {
				left: 5px;
			}
		}
	}
}