
// EXTEND - GRADIENT BG 
// *******************************
/*
%bg-gradient {
	background-color: $primary-color;
	background-image: $primary-gradient;
	background-attachment: fixed;
	
	&::before {
		content: '';
		position: fixed;
		z-index: -1;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba($white, 0.8);
	}
}
*/

// EXTEND - FONT SMOOTHING
// *******************************

%font-smoothing {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


// EXTEND - CLEARFIX
// *******************************

%clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}



// PREFIXER 
// *******************************

@mixin prefix($property, $value...) {
	#{$property}: $value;
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
}


// TRANSLATE
// *******************************

@mixin translate($x, $y) {
	-webkit-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	transform: translate($x, $y);
}


// ANIMATION
// *******************************

@mixin animation($name, $duration, $timing-function, $delay, $iteration-count, $direction, $fill-mode) {
	-webkit-animation-name: $name;
	-ms-animation-name: $name;
	animation-name: $name;
	-webkit-animation-duration: $duration;
	-ms-animation-duration: $duration;
	animation-duration: $duration;
	-webkit-animation-timing-function: $timing-function;
	-ms-animation-timing-function: $timing-function;
	animation-timing-function: $timing-function;
	-webkit-animation-delay: $delay;
	-ms-animation-delay: $delay;
	animation-delay: $delay;
	-webkit-animation-iteration-count: $iteration-count;
	-ms-animation-iteration-count: $iteration-count;
	animation-iteration-count: $iteration-count;
	-webkit-animation-direction: $direction;
	-ms-animation-direction: $direction;
	animation-direction: $direction;
	-webkit-animation-fill-mode: $fill-mode;
	-ms-animation-fill-mode: $fill-mode;
	animation-fill-mode: $fill-mode;
}


// BUTTON COLOURS
// *******************************

@mixin colour-btn($bdr-colour, $bg-colour, $font-colour, $hov-bg-colour, $hov-font-colour) {
	border-color: $bdr-colour;
	// background-color: transparent !important;
	background-color: $bg-colour;
  background-image: linear-gradient(to right, $hov-bg-colour 50%, $bg-colour 50%);
  background-size: 202%;
  background-position: 99% 0;
	color: $font-colour;
	&:hover {
		border-color: $hov-bg-colour;
		background-color: $hov-bg-colour !important;
	  background-position: 0 0;
		color: $hov-font-colour !important;
	}
} 


// RESPONSIVE PADDING
// *******************************

@mixin box-pad($med, $small, $xsmall) {
	padding: $med;
	@media (max-width: $md - 1) {
		padding: $small;
	}
	@media (max-width: $sm - 1) {
		padding: $xsmall;
	}
}