/*## NAVIGATION ##*/

$nav-init-background-color: rgba(255, 255, 255, 0.95);
$nav-background-color: rgba(255, 255, 255, 1);
$nav-divider-color: $grey-light-tint-3;

/* ------ Mobile var ------ */
$nav-mobile-background: $grey-light-tint-3;
$nav-mobile-font: $font-sans-serif;
$nav-mobile-font-size: 14px;
$nav-mobile-primary-link-color: $white;
$nav-mobile-primary-link-background: $blue-tint-1; //added with html classes on the menu
$nav-mobile-primary-border-color: $dark-blue;
$nav-mobile-primary-inner-background: $dark-blue;
$nav-mobile-primary-inner-border-color: $grey-tint-1;

$nav-mobile-secondary-link-color: $grey; 
$nav-mobile-secondary-link-background: $grey-light-tint-3; //added with html classes on the menu
$nav-mobile-secondary-link-border-color: $grey-light-tint-4;

$nav-mobile-head-link-color: $nav-mobile-secondary-link-color;
$nav-mobile-head-border-color: $grey-light-tint-3;
$nav-mobile-head-inner-border-color: $nav-mobile-secondary-link-border-color;
$nav-mobile-head-inner-background: $grey-light-tint-2;

$nav-mobile-language-inner-link-color: $grey;
$nav-mobile-language-inner-background: $grey-light-tint-2;
$nav-mobile-language-inner-border-color: $grey-light-tint-4;

$nav-mobile-signin-inner-background: $dark-blue-tint-1;
$nav-mobile-signin-inner-border-color: $dark-blue;
/* ------ Top menu var ------ */
$nav-font: $font-sans-serif;
$nav-font-size: 16px;
$nav-font-weight: 400;
$nav-link-color: $secondary-color;
$nav-link-hover-color: $secondary-color-dark;
$nav-link-hover-background: transparent;
$nav-link-padding: 15px;
$nav-letter-spacing: 0;
$nav-line-height: 1.43;

/* ------ Primary menu var ------ */
$nav-primary-font: $nav-font;
$nav-primary-font-size: $nav-font-size;
$nav-primary-font-weight: 400;
$nav-primary-link-color: $carbon-dark-tint-1;
$nav-primary-link-background: $nav-background-color;
$nav-primary-link-hover-color: $link-color;
$nav-primary-link-hover-background: transparent;
$nav-primary-link-padding: 15px 30px;
$nav-primary-link-letter-spacing: normal;
$nav-primary-link-line-height: inherit;
$nav-primary-padding-first-child: 20px;
$nav-primary-padding-last-child: 20px;

$nav-primary-heading-link-color: $dark-blue;
$nav-primary-heading-link-background: $white;
$nav-primary-heading-link-hover-color: $white;
$nav-primary-heading-link-hover-background: $dark-blue;
$nav-primary-heading-link-padding: 10px 10px;

$nav-open-border-color: $secondary-color;

/* ------ Secondary menu var ------ */
$nav-secondary-font: $font-sans-serif-cond;
$nav-secondary-height: 36px;
$nav-secondary-size: 12px;
$nav-secondary-weight: 400;
$nav-secondary-color: inherit;
$nav-secondary-link-hover-color: $blue-tint-1;
$nav-secondary-link-hover-background: none;
$nav-secondary-link-padding: 8px 14px;
$nav-secondary-link-letter-spacing: normal;
// $nav-secondary-link-line-height: inherit;
$nav-secondary-link-line-height: 20px;


@mixin dropdown-link($padding, $letter-spacing, $font, $size, $line-height, $weight, $color, $hover-color, $hover-background){
	padding: $padding;
	letter-spacing: $letter-spacing;
	font-family: $font;
	font-size: $size;
	line-height: $line-height;
	font-weight: $weight;
	color: $color;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	&:focus,
	&:hover{
		color: $hover-color;
		background-color: $hover-background;
	}
}
@mixin triangle-indicator($placement) {
	position:absolute;
	bottom:100%;
	left: 50%;
	z-index: -1;
	margin-left: $placement;
	content: " ";
	display: inline-block;
	@include translate(0, 0);
	box-shadow: 10px -10px 20px -9px $black;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent $nav-open-border-color transparent;
}
#mobile-menu-right {
	display: none;
}
/*## NAVIGATION general bootstrap overrides##*/
.navbar-default{
	margin-top: 0 !important;
	background-color: $nav-init-background-color;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.05);
	box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}
.navbar {
  border-radius: 0;
}
.navbar-brand {
	padding-right: 0px;
	padding-left: 0px;
	.logo{
		// max-width: 150px;
		margin-top: 7px;
		// width:100%;
		// height: auto;
		height: 30px;
		width: auto;
	}
	.tagline {
		margin-top: 7px;
		font-family: $font-sans-serif;
		font-size: 0.625em;
		color: $grey;
		display: inline-block;
		// display: none;
		visibility: hidden;
		opacity: 0;
		@include prefix(transition,0.2s);
		@include prefix(transform,translateY(-10px));
	}
}
/*## NAVIGATION icons and buttons ##*/
.navbar-default .navbar-nav{
	> li > a > i{
		font-size: .6em;
		color: inherit;
		padding-left: .5em;
	}
	> li > .button{
		text-transform: none;
		margin-left: 15px;
		color: $white !important;
		&:hover{
			color: $white !important;
		}
	}
}
/*## PRIMARY NAVIGATION link styles ##*/
#primary-navigation{
	position: relative;
	z-index: 100;
}
//Top bar style
#primary-navigation .navbar-collapse {
	border-bottom: solid 1px transparent;
	transition: 0.5s;
}
#primary-navigation .navbar-nav {	
	padding: 10px 0;
	@include prefix(transition,0.5s);
	> li {
		&.active > a {
			background-color: $nav-link-hover-background;
			color: $nav-link-hover-color;
		}
		> a {
			@include dropdown-link($nav-link-padding, $nav-letter-spacing, $nav-font, $nav-font-size, $nav-line-height, $nav-font-weight, $nav-link-color, $nav-link-hover-color, $nav-link-hover-background);
			&.dropdown-toggle {
				padding-right: 10px !important;
				&.button {
					padding-left: 19px !important;
					padding-right: 13px !important;
				}
			}
			
			// become a client button
			&.button-xsmall {
				margin-top: 5px;
				padding: 9px 15px;
				line-height: 20px;
				color: $secondary-color !important;
				&:hover {
					color: $white !important;
				}
			}
		}
	}	
}
/*## NAVIGATION animations and position ##*/
#global-navigation{
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 100;
	-webkit-transition: all .5s;
	transition: all .5s;
	-webkit-backface-visibility:hidden;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	.navbar-collapse {
		padding-right: 0px;
		padding-left: 0px;
	}
	&.headeractive{
		background-color: $nav-background-color;
		@include translate(0, -$nav-secondary-height);
		#primary-navigation .navbar-collapse {
			border-bottom: solid 1px transparent;
		}
	}
	&.headerattop {
		background-color: $nav-link-hover-background;
		-webkit-box-shadow: none;
		box-shadow: none;
		.navbar-brand {
			.tagline {
				visibility: visible;
				opacity: 1;
				@include prefix(transform,translateY(0));
			}
		}
		#primary-navigation {
			.navbar-collapse {
				border-bottom: solid 1px rgba($white, 0.8);
			}
			.navbar-nav {
				padding: 20px 0;

				.dropdown-menu {
					top: calc(100% + 20px);
				}
			}
		}
	}
	.external-container{
		position:relative;
		z-index: 10000;
	}
}
/*## SECONDARY NAVIGATION styles ##*/
#secondary-navigation {
	//Location tooltip behaviour + animation
	/* .loc-tooltip {
		display: none;
		position: absolute;
		top: 46px;
		right: 157px;
		color: white;
		background: $dark-blue;
		z-index: 99999;
		font-family: $font-sans-serif;
		padding: 10px 35px 10px 35px;
		width: 210px;
		text-align: center;
		font-size: 14px;
		line-height: 1.5; 
		cursor: pointer;
		&.bounce {
			@include animation(bounceSmall, .5s, ease, 0s, 2, normal, both);
		}
		&:before {
			content: ' ';
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 15px 15px 15px;
			border-color: transparent transparent $dark-blue transparent;
			position: absolute;
			top: -10px;
			left: 85px;
		}
		.close-loc {	
	    position: absolute;
	    border: solid 1px $blue-tint-3;
	    padding: 3px;
	    font-size: 10px;
	    top: 10px;
	    right: 10px;
	    color: $blue-tint-3;
		}
	} */
	// Secondary menu nav bav 
	.active {
		color: $nav-secondary-link-hover-color !important;
	}
	.navbar-nav {
		position: relative;
		z-index: 10;
		> li > a {
			@include dropdown-link($nav-secondary-link-padding, $nav-secondary-link-letter-spacing, $nav-secondary-font, $nav-secondary-size, $nav-secondary-link-line-height, $nav-secondary-weight, $nav-secondary-color, $nav-secondary-link-hover-color, $nav-secondary-link-hover-background);
			height: $nav-secondary-height !important;
		}
		#search-link {
			i {
				font-size: .9em;
			}
		}
		.search-group {
			position: absolute;
			display: none;
			margin-left: 14px;
			width: auto;
			input[type=text] {
				width: 240px;
				padding: 5px 15px !important;
				outline:none;
			}
			input, button {
				height: $nav-secondary-height;
				border: none;
				margin:0;
				top:0;
				display: block;
				float: left;
				border-radius:0px;
				&.button {
					padding: 4px 15px !important;
				}
				i {
					font-size: 9px;
				}
			}
		}
	}
	//Regions listing
	/* #regions{
		display: none;
		padding: 30px 0px;
		border-bottom: 1px solid $grey-light-tint-3;
		.name {
			border-bottom: 1px solid $grey-tint-2;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
		.region {
			padding-left: 0px;
			line-height: 1.2;
			.country {
				padding-top: 5px;
				padding-bottom: 5px;
				list-style-type: none;
				font-family: $nav-secondary-font;
				color: $grey-tint-1;
				.flag-icon  {
					margin-right: 7px;
					font-size: 0.8em;
					bottom: 2px;
				}
				.fa-icon {
					padding-left: 5px;
					margin-right: 7px;
					&.fa-globe {
						padding-left: 3px;
						margin-right: 7px;
					}
				}
				.language {
					padding-left: 0px;
					padding-right: 0px;
					a {
						white-space: nowrap;
					}
				}
			}
		}
	} */
}
/* NAVIGATION -- DROPDOWNS */
.navbar-default .navbar-nav{
	.open {
		> a,
		> a:hover,
		> a:focus {
		  background-color: $nav-link-hover-background;
		  color: $nav-link-hover-color;
		}
	}
}
.nav-top-right {
	position: absolute;
	right: 0px;
	top: 6px;
	li {
		float:left;
		margin-right: 8px;
	}
}

.nav.navbar-nav, .convo .goals, .nav.nav-top-right {	
	
	

	// .round-icon {
	// 	padding:0px 8px 14px 8px;
	// 	font-size: 1.5em;
	// 	color: $greyish-brown;
	// 	line-height: 0.9em;
	// 	background-color: $white;
	// 	border: solid $light-grey 1px;
	// 	border-radius: 50px;
	// }

	.round-icon {
		padding:0 !important;
		text-align: center;
		width: 36px;
		height: 36px;
		display: inline-block;
		font-size: 1.1em;
		color: $greyish-brown;
		line-height:1.3em;
		vertical-align: text-top;
		background-color: $white;
		border: solid $light-grey 1px;
		border-radius: 50px;
		i {
			font-size: 0.9em;
			margin-top: 9px;
		}
	}



	.dropdown-toggle:hover {
		color: $nav-link-hover-color !important; 
	}
	.dropdown-menu{
		font-size: inherit;
		border: none !important;
		border-top: solid $border-width-lg $nav-open-border-color !important;
		padding: 0 !important;
		margin-top: 0 !important;
		min-width: 100% !important;
		top: 120%;
		left: 50%;
		background-color: $nav-primary-link-background;
		@include translate(-50%, 0);
		-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
	  	&:not(.cols-in) li:first-child{
		  	&:before{
		  		@include triangle-indicator(-6px);
		  	}
		  	&:hover {
		  		&:before {
		  			color: $nav-primary-link-hover-background;
						// border-color: transparent transparent $sun transparent !important;
		  		}
		  	}
	  	}
	  	ul {
			list-style: none;
			padding-left: 0px !important;
			padding-right: 0px !important;
			-webkit-background-clip: padding-box;
			background-clip: padding-box;
		}
		&.cols-in{
			
			&.two-cols {
				width: 410px !important;
			}
			&.three-cols {
				width: 550px !important;
			}
			&.four-cols {
				width: 750px !important;
			}
			&.short-space {
				@include translate(-90%, 0);
				&:before {
					@include triangle-indicator(39%);
				}
			}
			.overflow.active {
				height: 250px;
				overflow-y: auto;
			}
			ul {
				a {
					display: inline-block;
					width: 100%;
				}
			}
			&:before{
				@include triangle-indicator(-8px);
			}
			&:hover {
				&:before{
					border-color: transparent transparent $nav-primary-link-hover-background transparent !important;
					color: $nav-primary-link-hover-background;
				}
			}
		}
		.divider {
			margin: 0 20px;
			background-color: $nav-divider-color;
		}
		li {
			> a{
				@include dropdown-link($nav-primary-link-padding, $nav-primary-link-letter-spacing, $nav-primary-font, $nav-primary-font-size, $nav-primary-link-line-height, $nav-primary-font-weight, $nav-primary-link-color, $nav-primary-link-hover-color, $nav-primary-link-hover-background);
			}
			&.heading {
				> a {
					padding: $nav-primary-heading-link-padding; 
					text-transform: uppercase;
					min-height: 50px;
					color: $nav-primary-heading-link-color;
					text-decoration: underline !important;
					&:hover {
						color: $nav-primary-heading-link-hover-color;
						background-color: $nav-primary-heading-link-hover-background;
					}
					&[href="#"]{
						text-decoration: none !important;
						cursor: default !important;
						&:hover {
							color: $nav-primary-heading-link-hover-background;
							background-color: transparent;
						}
					}
				}
			}
			&:first-child a {
				padding-top: $nav-primary-padding-first-child;
			}
			&:last-child a {
				padding-bottom: $nav-primary-padding-last-child;
			}
		}
		> .active {
			> a,
			> a:hover,
			> a:focus {
			  color: $nav-link-hover-color;
			}
		}
	}
	#login-dropdown {
		width: 270px;
		left: -50px;
		li:first-child:before {
			left: 100%;
			margin-left: -41px;
		}
	}
	.sign-in {
		width: auto !important;
		height: 36px;
		padding-top: 6px !important;
		border-radius: 0 !important;
		padding-right: 10px !important;
		padding-left: 14px !important;
		& > i {
			padding-left: .2em;
		}
		&:after {
			content: '' !important;
		}
	}
}


.nav {

	&.nav-top {

		margin-left: -$navbar-left-width;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100px;
		z-index: 1;
		padding-left: $navbar-left-width + 30;
		h1 {
			font-weight: 800;
			font-size: 24px;
			margin-top: 19px;
			margin-left: 10px;
			color: $greyish-brown;
		}		

		&.fade-out {
			background: -webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255, 0));
			background: -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255, 0));
			
		}
	}
}


// /*# NAVIGATION--RESPONSIVE hide mobile only elements #*/
.nav {
	.search-mobile{
		display: none;
	}
	.contact-mobile{
		display: none;
	}
}
// /*# NAVIGATION--RESPONSIVE #*/
@media only screen and (max-width: $lg - 1) {
	#primary-navigation .navbar-nav{
		> li > a {
			font-size: $nav-mobile-font-size;
		}
		#login {
			margin-left: -10px;
		}
	}
}
@media only screen and (max-width: $md - 1) {
	body.sidr-open {
		overflow: hidden;
	    position:fixed;
	    height: 100%;
	}
	#search-etc-links{
		display:none;
	}
	#global-navigation {
		min-height: 66px;
		&.sidr-open {
			left: -263px;
			-webkit-transition: all 0.2s;
			-ms-transition: all 0.2s;
			transition: all 0.2s;
		}
		&.headeractive{
			@include translate(0, 0px);
		}
	}
	/*## NAVIGATION general bootstrap overrides##*/
	.navbar-brand {
		padding-right: 15px;
		padding-left: 15px;
		.logo{
			// max-width: 130px;
			height: 25px;
		}
	}
	/*## NAVIGATION primary##*/
	.navbar-toggle{
		z-index: 10;
		position: fixed;
		top: 0px;
		font-family: $nav-font;
		font-size: $nav-mobile-font-size;
		font-weight: $nav-secondary-weight;
		border-bottom: none !important;
		color: $nav-link-hover-color;
		padding-top: 15px;
		margin-top: 4px !important;
		span {
			padding-bottom: 0.25em;
			margin-right: 10px;
			border-bottom: none !important; 
		}
	} 	
}