// BREAK POINTS
// *******************************

$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

.xs-size::after {
	content: '#{$xs}';
}
.sm-size::after {
	content: '#{$sm}';
}
.md-size::after {
	content: '#{$md}';
}
.lg-size::after {
	content: '#{$lg}';
}


// COLOURS
// *******************************

// PRIMARY PALETTE 

$bluegrey: #96b0bd;
$cool-grey: #babbbf;
$light-grey: #e0e0e0;
$greyish-brown: #525252;
$water-blue: #1589c9;
$white: #ffffff;
$steel: #8c8c8d;
$purpleblue: #6415c9;
$softpurple: #b05caa;
$pale-grey: #eff4f6;





$dark-blue: 				#1589c9;
$dark-blue-tint-1: 			#2494d2;
$teal-dark-tint-1: 			#2494d2;
$blue-tint-1: 				#1b89c5;
$blue-tint-2: 				#2a97d3;
$teal: 				#2a97d3;
$blue-tint-3: 				#3e95e7;
$blue-tint-4: 				#59a8f2;
$blue-tint-5: 				#7bbaf5;

$black: 					#000000;
$black-tint-1: 				#252525; 					
$dark-grey: 				#444444;
$grey: 						#585858;
$grey-tint-1: 				#6f6f6f;
$grey-tint-2: 				#b3b3b3;
$grey-light-tint-4: 		#cccccc; 					
$grey-light-tint-3: 		#eaeaea; 					
$grey-light-tint-2: 		#f3f4f5; 		
$grey-light-tint-1: 		#fafafa;					

$white: 					#ffffff;

$gold-tint-3: 				#e2c76a;

$yellow-dark:				#aa9c26;
$yellow: 					#ece905;
$yellow-tint-1: 			#e3e135;
$yellow-tint-2: 			#edec70;
$yellow-tint-3: 			#f5f4b0;


// SECONDARY PALETTE - neutrals

$tundra-dark:				#053b51;
$tundra-dark-tint-1:		#0e445a;
$tundra:					#1d6c8d;
$tundra-tint-1:				#c3d7df;
$tundra-tint-2:				#348db2;
$tundra-tint-3:				#51b2da;

$blue-grey-dark: 			#334e59; 					
$blue-grey: 				#688b99;

$carbon-dark: 				#1a1d1e;				
$carbon-dark-tint-1: 		#2b2f30;
$carbon: 					#494f52;
$carbon-tint-1:				#6a7478;
$carbon-tint-2:				#778084;
$carbon-tint-3:				#8999a0;

$warm-grey-dark:			#322b2b;
$warm-grey-dark-tint-1:		#443c3c;
$warm-grey:					#6e655e;
$warm-grey-tint-1:			#877f79;
$warm-grey-tint-2:			#9e958d;
$warm-grey-tint-3:			#b9aea5;


$beige-dark:				#7a6e46;
$beige-dark-tint-1:			#a19460;
$beige: 					#c2b47d;
$beige-tint-2:				#eeeadd;
$beige-tint-3:				#f8f6f0;

$brown-dark:				#826048;
$brown:						#967053;
$brown-tint-1:				#c7b2a2;
$brown-tint-2:				#e3d9d1;
$brown-tint-3:				#f4efec;




// SECONDARY PALETTE - brights

$violet:							#493d63;
$violet-tint-1:				#a49ab1;
$violet-tint-2:				#d1cdd8;
$violet-tint-3:				#ecebef;

$wine:								#8b214b;

$red: 								#9b301b;
$red-tint-1: 					#cd978d;
$red-tint-2: 					#e6cbc6;
$red-tint-3: 					#f5eae8;

$warm-red-dark:				#b91a0e;
$warm-red:						#f93f26;
$warm-red-tint-1:			#fc9f92;
$warm-red-tint-2:			#fdcfc9;
$warm-red-tint-3:			#feebe9;

$sun-dark: 						#9e5406;
$sun: 								#fca311;
$sun-tint-1: 					#fdd188;
$sun-tint-2: 					#fee8c3;
$sun-tint-3: 					#fff6e7;

$pear-dark:						#726c1a;
$pear:								#d6ce49;
$pear-tint-1:					#eae6a4;
$pear-tint-2:					#f5f3d1;
$pear-tint-3:					#fbfaec;

$deep-gold:						#e8cf00;

$moss-dark: 					#756803;
$moss: 								#b5a80c;
$moss-tint-1: 				#dad385;
$moss-tint-2: 				#ece9c2;
$moss-tint-3: 				#f7f6e6;		

$apple-dark:					#616f03;
$apple:								#aaba0a;
$apple-tint-1:				#d4dc84;
$apple-tint-2:				#eaeec2;
$apple-tint-3:				#f6f8e6;

$green-dark:					#5f6324;
$green: 							#6b702b;
$green-tint-1: 				#b5b795;
$green-tint-2: 				#dadbca;
$green-tint-3: 				#f0f0e9;



$sky-dark:						#236e9a;
$sky:									#51b5e0;
$sky-tint-1:					#a8daef;
$sky-tint-2:					#d3ecf7;
$sky-tint-3:					#edf7fc;

$bright-blue-dark:		darken( #1596F3, 10% );
$bright-blue:					#1596F3;
$bright-blue-tint-1:	lighten( #1596F3, 10% );;
$bright-blue-tint-2:	lighten( #1596F3, 35% );;
$bright-blue-tint-3:	lighten( #1596F3, 40% );;


// general colour variables 
$primary-color-dark: $dark-blue;
$primary-color-dark-tint-1: $dark-blue-tint-1;
$primary-color: $bluegrey;
$primary-color-tint-1: $blue-tint-1;
$primary-color-tint-2: $blue-tint-2;
$primary-color-tint-3: $blue-tint-3;

$secondary-color-dark: $bright-blue-dark;
// $secondary-color-dark-tint-1: $bright-blue-dark-tint-1;
$secondary-color: $bright-blue;
$secondary-color-tint-1: $bright-blue-tint-1;
$secondary-color-tint-2: $bright-blue-tint-2;
$secondary-color-tint-3: $bright-blue-tint-3;


// TYPOGRAPHY
// *******************************

$font-georgia: Georgia, serif;
$font-arial: Arial, sans-serif;
$font-roboto: "Open Sans", Arial, sans-serif;
$font-roboto-cond: "Roboto Condensed", Arial, sans-serif;

$font-sans-serif: $font-roboto;
$font-sans-serif-cond: $font-roboto-cond;
$font-serif: $font-georgia;

$font-title: $font-sans-serif;
$font-body: $font-sans-serif;

$font-body-size: 16px;
$font-body-size-mobile: 14px;
$font-body-line-height: 1.8125;
$font-body-weight: 400;
$font-body-color: $dark-grey;

$link-color: $primary-color-dark-tint-1;
$link-hover-color: $primary-color;


// LAYOUT
// *******************************

// Left nav width
$navbar-left-width: 340px;

// padding for main larger elements / modules / boxes
$pad-box-main-lg: 80px;
$pad-box-main: 40px;
$pad-box-main-sm: 25px;
$pad-box-main-lg-mobile: 30px;
$pad-box-main-mobile: 20px;

// padding for inputs and buttons
$pad-input-main-y: 8px;
$pad-input-main-x: 30px;
$pad-input-main: $pad-input-main-y $pad-input-main-x;
$pad-input-round-x: 25px;
$pad-input-round: $pad-input-main-y $pad-input-round-x;

// padding for smaller elements - tables, tabs, etc.
$pad-el-main-y: 10px;
$pad-el-main-x: 15px;
$pad-el-main: $pad-el-main-y $pad-el-main-x;

// margin for between articles / large modules
$marg-article-main-lg: 100px;
$marg-article-main: 70px;
$marg-article-main-sm: 40px;
$marg-article-main-mobile: 20px;

// margin for between text elements in tiles, heroes, etc.
$marg-main-sm: 20px;

// margin for paragraphs
// $marg-paragraph-main: 1.4375em;
$marg-paragraph-main: 1.25em;

// border radius
$border-radius-main: 15px;
$border-radius-main-sm: 3px;
$border-radius-btn: 30px;

// borders
$border-color-main: $light-grey;
$border-width: 2px;
$border-width-lg: 4px;


// SHADOWS
// *******************************

$box-shadow-main-lg: 0 3px 5px -1px rgba(0,0,0,0.1),0 6px 10px 0 rgba(0,0,0,0.12),0 1px 18px 0 rgba(0,0,0,0.10);
$box-shadow-main: 0 1px 8px 0 rgba(0,0,0,0.1),0 3px 4px 0 rgba(0,0,0,0.12),0 3px 3px -2px rgba(0,0,0,0.10);
$box-shadow-main-sm: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 1px 0 rgba(0,0,0,0.10),0 2px 1px -1px rgba(0,0,0,0.08);


// GRADIENTS
// *******************************


$g-blue-yellow-ltr: linear-gradient(to left, $blue-tint-1 0%, $yellow 100%);

$g-blue: linear-gradient(to bottom right, #E4F6F7 0%, $dark-blue 60%);

$primary-gradient: linear-gradient(to bottom left, $secondary-color 0%, $primary-color 100%);
$primary-gradient-ltr: linear-gradient(to left, $secondary-color 0%, $primary-color 100%);
$secondary-gradient: $g-blue;
$secondary-gradient-ltr: $g-blue-yellow-ltr;


