.side-nav a{
    font-size: 1.1em;
    color: #ffffff;
    transition: .2s;
    font-weight: 300;
    text-decoration: none;
    font-family: "Open Sans", Arial, sans-serif;
    margin-bottom: 0px;
}

.side-nav{
    list-style: none;
}

.side-nav a:hover{

    color: #e0e0e0;

}

.project-select{
    margin-top: 20px;
    overflow: hidden !important;
    width: inherit;
}

.side-nav-group-heading {
    margin-bottom: 15px;
    font-size: 1.1em;
    color: white;
    font-weight: bold;
    letter-spacing: normal;
}

.text-ellipsis{
    max-width: 98%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.revenue div p{
    margin-bottom: 1rem;
}

.text-break-all{
    word-break: break-all;
}